{
  "env": {
    "development": {
      "presets": [
        ["@babel/env"],
        ["@babel/react"],
        ["@babel/typescript"]
      ],
      "plugins": [
        ["module-resolver", { "extensions": [".ts", ".tsx"], "root": ["./src"]}],
        ["loadable-components/babel"],
        ["styled-components", { "displayName": false, "preprocess": false, "ssr": true }]
      ]
    },
    "production": {
      "presets": [
        ["@babel/env", { "targets": { "browsers": ["last 2 versions"] }}],
        ["@babel/react"],
        ["@babel/typescript"]
      ],
      "plugins": [
        ["module-resolver", { "extensions": [".ts", ".tsx"], "root": ["./src"]}],
        ["loadable-components/babel"],
        ["styled-components", { "displayName": false, "preprocess": false, "ssr": true }]
      ]
    },
    "serverless": {
      "presets": [
        ["@babel/env", { "targets": { "node": "8.10" }}],
        ["@babel/react"],
        ["@babel/typescript"]
      ],
      "plugins": [
        ["module-resolver", { "extensions": [".ts", ".tsx"], "root": ["./src"]}],
        ["babel-plugin-dynamic-import-node"],
        ["loadable-components/babel"],
        ["styled-components", { "displayName": false, "preprocess": false, "ssr": true }]
      ]
    }
  }
}
