{
  "env": {
    "development": {
      "presets": [
        ["@babel/env"],
        ["@babel/react"],
        ["@babel/typescript"]
      ],
      "plugins": [
        ["@loadable/babel-plugin"],
        ["module-resolver", { "extensions": [".ts", ".tsx"], "root": ["./src"]}],
        ["styled-components", { "displayName": false }]
      ]
    },
    "production": {
      "presets": [
        ["@babel/env", { "targets": { "browsers": ["last 2 versions"] }}],
        ["@babel/react"],
        ["@babel/typescript"]
      ],
      "plugins": [
        ["@loadable/babel-plugin"],
        ["module-resolver", { "extensions": [".ts", ".tsx"], "root": ["./src"]}],
        ["styled-components", { "displayName": false }]
      ]
    },
    "serverless": {
      "presets": [
        ["@babel/env", { "targets": { "node": "8.10" }}],
        ["@babel/react"],
        ["@babel/typescript"]
      ],
      "plugins": [
        ["@loadable/babel-plugin"],
        ["module-resolver", { "extensions": [".ts", ".tsx"], "root": ["./src"]}],
        ["styled-components", { "displayName": false }]
      ]
    }
  }
}
